<!DOCTYPE html>
<html>
    <!DOCTYPE html>
<html>
  <head>
    <title>
     Prueba de Modelo
    </title>
  </head>
  <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
  <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar.js"></script>
  <script src="https://rawgit.com/donmccurdy/aframe-extras/master/dist/aframe-extras.loaders.min.js"></script>
  <body style="margin : 0px; overflow: hidden;">
    <style>
      .a-enter-vr-button{
        display: none;
      }
    </style>
    <a-scene embedded arjs>
      <a-marker preset="hiro">
        <a-entity
          position="0 0 0"
          scale="1 1 1"
          gltf-model="url(/static/patt/COCKTAIL.gltf)"
          animation="property: rotation; to: 0 360 0; loop: true; dur: 10000"
        ></a-entity>
      </a-marker>
      <a-entity camera></a-entity>
    </a-scene>
  </body>
</html>
</html>