{% extends "layout.html" %}


{% block content %}
<h2>Poemas dedicados a ti</h2>
<!-- <h5> {{ diaactual }}</h5> -->
<div class="container">
    <div class="card-columns ">
        

        <div class="card">
            <div class="card-header">
                <h4>Tu</h4>
            </div>
            <div class="card-body">
                <p class="card-text text-justify">
                    Pienso en ti todos los días,
                    me obligas a tenerte en mis pensamientos con tu cuerpo tan perfecto,
                    tan bello, tus complejos dejamelos a mi que yo los arreglo,
                    mientras te beso en el cuello, 
                    acurrucada en mis brazos tontos, 
                    cuando te tocan a ti parece que estan rotos,
                    ojos peculiares con los que me miras, tan sencilla, 
                    tan unica en su manera de ver, de vivir, de sentir,
                    es asi como eres para mi, todo mi amor siempre dirigido a ti.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h4>Enamorado de ti</h4>
            </div>
            <div class="card-body">
                <p class="card-text text-justify">
                        Siento tu respiracion en mi pecho, no te vayas lejos <br>
                        quiero estar contigo al llegar a viejos. <br>
                        Acariciar tu cabello mientras veo lo bello de tus ojos,<br>
                        Tu sonrisa acariciaba mi ser, alimentaba mi alma acabada<br>
                        alojada en la nada mientras tus besos me despertaban,<br>
                        y tu como si nada hicieras, no sabias, y todavia siento lo mismo por ti como el primer dia.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h4>Amor</h4>
            </div>
            <div class="card-body">
                <p class="card-text text-justify">
                    Estoy amándote con errores, <br>
                    Estoy deseándote sin reproches,<br>
                    Amando cada parte de ti, apreciando la hermosura de los detalles al conocerte.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h4>No te cambio</h4>
            </div>
            <div class="card-body">
                <p class="card-text text-justify">
                    Como le dirías a un flor lo bella que es, <br>
                    Como le enseñas al sol brillar y calentar,<br>
                    Como demostrar con palabras los sentimientos,<br>
                    Si las palabras son limitadas y los sentimientos ilimitados.<br>
                    <br>
                    No te cambiaría,<br>
                    Porque no serías la persona de la que me enamoré,<br>
                    con la que algun día me casaré,<br>
                    No te cambiaría nada,<br>
                    pero cambiaría todo por ti.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h4>Beldad</h4>
            </div>
            <div class="card-body">
                <p class="card-text text-justify">
                    Eres mas que una cara linda,<br>
                    Eres inspiración,<br>
                    Eres tranquilidad,<br>
                    Eres amor sin condición,<br>
                    motivación para este corazón,<br>
                    Eres lujuría eterna,<br>
                    Encendiendo mi llama interna,<br>
                    Lo mejor que me paso no fue conocerte, fue tenerte.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h4>Ego amare u</h4>
            </div>
            <div class="card-body">
                <p class="card-text text-justify">
                    Volim te,<br>
                    Porque llegaste sin buscarte,<br>
                    Nakupenda,<br>
                    Porque eres la razon de mi extrema felicidad,<br>
                    Ya que sin necesidad,<br>
                    Me regalaste un amor incodicional,<br>
                    Me demostraste que el amor es bidireccional,<br>
                    irracional cuando se trata de demostrar.<br>
                    Llenaste el vació,<br>
                    que existía en mi corazón frió,<br>
                    Lo cual me hace percibir de manera diferente cada segundo<br>
                    a lado tuyo,<br>
                    Orgulloso del tiempo que llevamos...<br>
                    Juntos funcionamos,<br>
                    No encuentro explicación, será conexión(?).<br>
                    <br>
                    ¿Ser imperfecta es lo que te afecta?,<br>
                    Sí imperfecta es lo que te hace ser perfecta,<br>
                    eso no afecta, cuando en el amor se acierta,<br>
                    Eres arte, <br>
                    puedo mostrarte,<br>
                    Tus besos son como versos,<br>
                    Despejando mis pensamientos,<br>
                    Eclipsando mi problemas en todo momento.<br>
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h4>Fuego en sangre</h4>
            </div>
            <div class="card-body">
                <p class="card-text text-justify">
                    Recorrí tu cuerpo con las puntas de mis dedos,<br>
                    Sostuve tu mano al caminar sintiendo el calor provocado,<br>
                    Besando el dorsal de tu mano, un momento inexplicable.<br>
                    Como pude vivír todo este tiempo con las manos vacías.<br>
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h4>Coincidir</h4>
            </div>
            <div class="card-body">
                <p class="card-text text-justify">
                    Un universo ilimitado,<br>
                    con limitado conocimiento,<br>
                    miles de constelaciones,<br>
                    con diferentes conjunciones<br>
                    miles de galaxias,<br>
                    que conforman una Vía Láctea.<br>
                    Tú un astro con luz propia,<br>
                    y calor que me aropa en mi día a día.<br>
                    Y todavía me llenas de inmensa alegría.<br>
                    <br>
                    Coincidir, reír, cumplír, decir, decidir,<br>
                    cubrir, concurrir y construir<br>
                    es como nos podrian definir.<br>
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h4>Sentidos</h4>
            </div>
            <div class="card-body">
                <p class="card-text text-justify">
                    Al mirate sueño despierto,<br>
                    al besarte me dejas sin aliento,<br>
                    al sentirte me dejas soñoliento,<br>
                    Cuando te digo que te amo lo siento.<br>
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h4>Cambios</h4>
            </div>
            <div class="card-body">
                <p class="card-text text-justify">
                    Sentí la conexión al instante,<br>
                    Me asuste,<br>
                    No podía creer<br>
                    Que la quimica magnifica recorriera mi ser<br>
                    Te bese, <br>
                    Sin pensarlo,<br>
                    Al analizarlo, no podia creer<br>
                    Eras tu otra vez,<br>
                    Acariciando mi ser, <br>
                    para serte sincero lo disfrute mas esta vez.<br>
                    Viendote como te peinabas,<br>
                    Mientras te acariciaba,<br>
                    Sin dudarlo pensé,<br>
                    Quédate,<br>
                    No te alejes de mi corazón arrugado necesitado<br>
                    Es tan complicado haber pensado, <br>
                    Engañado a vivir sin ti<br>
                    Cuando sin ti no quiero vivir,<br>
                    Cansado de fingir, de mentir,<br>
                    Que te quedes a mi lado, es mucho pedir?<br>
                    Encontre un motivo para mi corazón e inspiración para esta canción.<br>
                    <br>
                    Esa inspiración eres tú mi amor.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h4>Eres tú</h4>
            </div>
            <div class="card-body">
                <p class="card-text text-justify">
                    Eres la persona que me hace sonreír con tan solo pensarte,<br>
                    Eres la persona que siempre quiero sostener su mano,<br>
                    Eres la persona con la que nada seria en vano,<br>
                    Eres mi motivación del día a día y quiero que seas mi compañía a lo largo de los años,<br>
                    Eres tú la persona que cambio mi manera de ver la vida,<br>
                    <br>
                    Eres la mujer indicada,<br>
                    Y aunque perfecto no sería,<br>
                    ¿Quieres ser mi novia?
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h4>Estrella Fugaz</h4>
            </div>
            <div class="card-body">
                <p class="card-text text-justify">
                    Yo no buscaba de tí, <br>
                    Yo no pensaba en tí,<br>
                    Inesperada como una estrella fugaz,<br>
                    Pues audaz para llegar a mí,<br>
                    Un extra de felicidad a esta vida querida,<br>
                    No fue cuestión de tiempo,<br>
                    Fue cuestión de conexión,<br>
                    Pues el tiempo no cuestiona y no ama.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h4>Gioconda</h4>
            </div>
            <div class="card-body">
                <p class="card-text text-justify">
                    Eres vida y muerte a la vez. No puedo evitar sonreir, pero tampoco puedo evitar sentir una enorme
                    melancolía.
                    Eres una gran obra de arte.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h4>Afrodita</h4>
            </div>
            <div class="card-body">
                <p class="card-text text-justify">
                    Un calor inmenso que recorre mi cuerpo,<br>
                    Un arcoíris al final de un huracán,<br>
                    Paz y tranquilidad en mi alma,<br>
                    Largas platicas, sonrisas, nuestras risas<br>
                    Nos acompañan,<br>
                    Fue hermoso estar cerca de ti,<br>
                    Sentir la delicadeza de tu mano,<br>
                    Deje de percibir el universo,<br>
                    Solo éramos tu y yo,<br>
                    Todo se ocultaba en las tinieblas,<br>
                    Sentía tu respiración,<br>
                    Entré en razón,<br>
                    Nuestros labios se juntaron.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h4>Manos vacías</h4>
            </div>
            <div class="card-body">
                <p class="card-text text-justify">
                    Cuando te acaricié me di cuenta que había vivido toda mi vida con las manos vacías.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h4>Te quiero</h4>
            </div>
            <div class="card-body">
                <p class="card-text text-justify">
                    Hoy no saliste, hoy floreciste <br>
                    Brotaste en mi corazón, poco a poco creciste,<br>
                    Dando frutos desde tu raices,<br>
                    Alimentas mi ser,<br>
                    Regalandome una esencia totalmente diferente,<br>
                    Disipando las ideas erróneas que tenía en mi mente.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h4>Le pitsa </h4>
            </div>
            <div class="card-body">
                <p class="card-text text-justify">
                    Que chulos ojitos, que chula sonrisa, te invito a salir por una pizza.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h4>Ojitos peculiares</h4>
            </div>
            <div class="card-body">
                <p class="card-text text-justify">
                    Cabello cortito, sonrisa bella <br>
                    Voz singular,<br>
                    La variante de todos los seres<br>
                    Son tus ojitos peculiares,<br>
                    Indescriptible el momento en el que los vi,<br>
                    pequeños que muestran gran luz,<br>
                    Una pequeña taza de café,<br>
                    Adictivos pero con la medida perfecta.
                </p>
            </div>
        </div>
    </div>




</div>
{% endblock %}